<td>
  <% if user == current_user %>
  <%= link_to 'N/A', '#', :class => "btn btn-default disabled }"%>
  <% else %>
  <%= link_to follow_user_path(user), method: :put,
:class => "btn #{ follows?(user) ? 'btn-info' : 'btn-default' }" do %>
  <%= follows?(user) ? "Following" : "Follow" %>
  <% end %>
  <% end %>
</td>
<td>
  <%= link_to '#', :class => "btn btn-default disabled" do %>
  <%= following_total(user) %>
  <% end %>
</td>
<td>
  <%= link_to '#', :class => "btn btn-default disabled" do %>
  <%= followers_total(user) %>
  <% end %>
</td>