<% locals = local_assigns %>
<% dir = 'tables/messages/' %>
<table>
  <%= (render partial: dir + 'heading', locals: locals) if locals[:display_headings] %>

  <tbody>
    <% messages.each do |message| %>
    <% local_assigns[:message] = message %>
    <% locals = local_assigns %>
    <tr>
      <%= (render partial: dir + 'creator', locals: locals) if locals[:display_creator] %>
      <%= (render partial: dir + 'content', locals: locals) %>
      <%= (render partial: dir + 'voting', locals: locals) if locals[:display_voting] %>
      <%= (render partial: dir + 'actions', locals: locals) if locals[:display_actions] %>
    </tr>
    <% end %>
  </tbody>
</table>