

<div class="row">
  <div class="col-md-4 col-md-offset-4 center well">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>

<h1 align="center">Welcome to <%= @user.full_name %>'s page</h1>

<div class="well">
  <div class="row">
    <div class="col-md-3">
      <h4>Following</h4>
      <%= render partial: "users/users", locals: {
  users: (@user.votes.up.for_type(User).votables) } %>
    </div>
    <div class="col-md-6">
      <h3 align="center">Messages</h3>
      <%= render partial: "messages/messages", locals: {
  display_headings: true,
  display_actions: true,
  messages: @user.messages
  } %>
    </div>
    <div class="col-md-3">
      <h4>Followers</h4>
      <%= render partial: "users/users", locals: {
  users: (@user.votes_for.up.by_type(User).voters) } %>
    </div>
  </div>

  <div class="row">
    <h3 align="center">Followers Recent Messages</h3>
    <%= render partial: "messages/messages", locals: {
  display_headings: true,
  display_creator: true,
  display_voting: true,
  messages: followers_messages
  } %>
  </div>
</div>