<p id="notice"><%= notice %></p>

<h1>Listing Like Dislikes</h1>

<table>
  <thead>
    <tr>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @like_dislikes.each do |like_dislike| %>
      <tr>
        <td><%= like_dislike.likes %></td>
        <td><%= link_to 'Show', like_dislike %></td>
        <td><%= link_to 'Edit', edit_like_dislike_path(like_dislike) %></td>
        <td><%= link_to 'Destroy', like_dislike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Like dislike', new_like_dislike_path %>
