<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/nav' %>

    <div class="container">
      <div class="row">
        <%= render 'shared/sidebar_users' %>

        <div class="col-lg-6">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>

        <%= render 'shared/sidebar_messages' %>
      </div><!--/row-->

      <%= render 'layouts/footer' %>
    </div> <!-- /container -->

    <%= render 'layouts/debug' %>
  </body>
</html>